@use 'src/styles' as *;

.cartCard {
  width: 600px;
  height: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 10px;

  background-color: $white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

  .image {
    width: 80px;
    height: 80px;
    object-fit: contain;

    border-radius: 10px;
  }

  .name {
    width: 150px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include fnt($size: 24, $line-height: 32, $weight: 600, $color: $black);
  }

  .counter {
    display: flex;
    align-items: center;
    gap:8px;

    .count {
      @include fnt($size: 24, $line-height: 32, $weight: 600, $color: $gray-500);
    }

    .changeCount {
      display: flex;
      flex-direction: column;

      .countButton {
        svg {
          flex: none;
          width: 20px;
          height: 20px;

          * {
            stroke: $gray-400;
          }
        }

        &:hover {
          svg {
            * {
              stroke: $gray-500;
            }
          }
        }
      }
    }
  }

  .cost {
    @include fnt($size: 20, $line-height: 24, $weight: 400, $color: $gray-400);
  }

  .trashButton {
    margin-right: 10px;
    svg {
      flex: none;
      width: 20px;
      height: 20px;

      * {
        stroke: $gray-400;
      }
    }

    &:hover {
      svg {
        * {
          stroke: $gray-500;
        }
      }
    }
  }
}