@use 'src/styles' as *;

.header {
  width: 100vw;
  height: 100px;

  display: flex;
  gap: 20px;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-around;

  border-bottom: 1px solid $gray-300;

  .logo {
    width: fit-content;
    @include fnt($size: 32, $line-height: 40, $weight: 600, $color: $main-color);
  }

  .main {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .searchField {
      width: 400px;

      display: flex;
      align-items: center;
      justify-content: center;

      .inputField {
        flex: 1;
        @include fnt($size: 16, $line-height: 24, $weight: 400, $color: $black);
        padding: 10px 12px;
        border-radius: 12px 0 0 12px;
        box-shadow: 0 0 0 1px $gray-100;
        background-color: $white;

        &::placeholder {
          @include fnt($size: 16, $line-height: 24, $weight: 400, $color: $gray-300);
        }
      }

      .icon {
        flex: none;
        width: fit-content;
        height: fit-content;

        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 0 1px $main-color;

        background-color: $main-color;
        border-radius: 0 12px 12px 0;
        padding: 10px 12px;

        &:hover {
          background-color: $main-color-dark;
        }

        svg {
          width: 24px;
          height: 24px;

          * {
            stroke: $white;
          }
        }
      }
    }
  }

  .cart {
    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border-radius: 50%;

    svg {
      flex: none;
      width: 24px;
      height: 24px;

      * {
        stroke: $main-color;
      }
    }

    &:hover {
      background-color: $gray-100;
    }
  }

  .profile {
    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    padding: 10px;

    svg {
      flex: none;
      width: 24px;
      height: 24px;

      * {
        stroke: $main-color;
      }
    }

    &:hover {
      background-color: $gray-100;
    }
  }
}