@use 'src/styles' as *;

.productCard {
  flex: none;
  width: 300px;
  height: 400px;

  display: flex;
  flex-direction: column;
  padding: 10px;

  background-color: $white;
  box-shadow: 0 8px 8px -4px #10182808, 0 20px 24px -4px #10182814;

  .images {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 10px;

    .curImage {
      width: 100%;
      height: 220px;
      object-fit: contain;
      background-color: transparent;
      border-radius: 8px;
    }

    .switcher {
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      gap: 5px;

      .item {
        flex: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $gray-300;

        &:hover {
          background-color: $gray-400;
        }

        &.active {
          background-color: $main-color;
        }
      }
    }
  }

  .detail {
    flex: 1;
    display: flex;
    flex-direction: column;

    .cost {
      width: 100%;
      @include fnt($size: 16, $line-height: 24, $weight: 600, $color: $black);
    }

    .name {
      width: 100%;
      text-align: start;
      @include fnt($size: 16, $line-height: 24, $weight: 400, $color: $black);
    }
  }

  .buyButton {
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;

    &.inCart {
      @include fnt($size: 16, $line-height: 24, $weight: 600, $color: $main-color);
      border: 1px solid $main-color;
      background-color: $white;

      &:hover {
        background-color: $gray-50;
      }
    }

    &.notInCart {
      @include fnt($size: 16, $line-height: 24, $weight: 600, $color: $white);
      background-color: $main-color;

      &:hover {
        background-color: $main-color-dark;
      }
    }
  }
}