.main {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .productList {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 20px 200px;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: auto;

  }
}

@media (max-width: 1600px) {
  .main {
    .productList {
      padding: 20px 0;
      justify-content: center;
    }
  }
}