@use 'src/styles' as *;

.page {
  width: 100%;
  height: 100vh;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.header {
  width: 100%;

  display: flex;
  gap: 20px;

  .backButton {
    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;
    padding: 10px;
    border-radius: 8px;

    svg {
      flex: none;
      width: 20px;
      height: 20px;

      * {
        stroke: $gray-400;
      }
    }

    &:hover {
      background-color: $gray-100;
    }

  }

  .title {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;

    padding: 20px 0;

    .name {
      width: 100%;
      text-align: start;
      @include fnt($size: 24, $line-height: 32, $weight: 600, $color: $black);
    }

    .code {
      width: 100%;
      text-align: end;
      @include fnt($size: 14, $line-height: 16, $weight: 600, $color: $gray-500);
    }
  }

  border-bottom: 1px solid $gray-300;
}

.mainDetails {
  flex: none;
  width: 100%;
  height: fit-content;

  display: flex;
  gap: 45px;
  padding: 20px 150px;
  overflow: scroll;
  scrollbar-width: none;

  .images {
    width: 400px;
    height: 400px;

    display: flex;
    gap: 10px;

    .curImage {
      width: 400px;
      height: 100%;
      background-color: $gray-300;
      object-fit: scale-down;
      overflow: hidden;
    }

    .imageList {
      flex: none;
      height: 100%;

      display: flex;
      flex-direction: column;
      padding: 6px;
      gap: 10px;

      overflow-y: scroll;
      scrollbar-width: none;

      .item {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        background-color: $gray-300;
        box-shadow: 0 0 0 1px $gray-400;
        cursor: pointer;
        object-fit: scale-down;
        transition: all ease-out 200ms;

        &:hover {
          box-shadow: 0 0 0 1px $gray-500;
        }

        &.active {
          box-shadow: 0 0 0 1px $main-color;
        }
      }
    }
  }

  .productInfo {
    flex: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .description {
      width: 100%;
      overflow: hidden;

      .label {
        @include fnt($size: 24, $line-height: 32, $weight: 600, $color: $black);
      }

      .text {
        text-overflow: ellipsis;
        @include fnt($size: 14, $line-height: 16, $weight: 400, $color: $black);
      }
    }
  }

  .buyBlock {
    flex: none;
    width: 340px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px;
    border-radius: 20px;

    background-color: $white;
    box-shadow: 0 0 51px 0 rgba(0, 26, 52, 0.1);


    .cost {
      width: fit-content;
      border-radius: 8px;
      background-color: $green;
      padding: 8px;
      @include fnt($size: 24, $line-height: 32, $weight: 600, $color: $white);
    }

    .oldCost {
      padding: 0 10px;
      text-decoration: line-through;
      @include fnt($size: 16, $line-height: 24, $weight: 400, $color: $gray-400);
    }

    .buyButton {
      width: 100%;
      height: fit-content;

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 12px;

      &.notInCart {
        background-color: $main-color;
        @include fnt($size: 16, $line-height: 24, $weight: 600, $color: $white);

        &:hover {
          background-color: $main-color-dark;
        }
      }

      &.inCart {
        background-color: $white;
        box-shadow: 0 0 0 1px $main-color;
        @include fnt($size: 16, $line-height: 24, $weight: 600, $color: $main-color);

        &:hover {
          background-color: $gray-50;
        }
      }
    }
  }
}